.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.section {
  background: #f2f4f5;
  padding-top: 41px;
  padding-bottom: 72px;
}

.section-title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.list {
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}
