.wrap {
  width: 20px;
  height: 20px;
  border-radius: 0.25rem;
  border: 2px solid var(--gray-40, #949f9f);
  background: var(--gray-15, #e4e7e7);
}

.wrap[data-state="checked"] {
  background: #299a9a;
  border: 2px solid var(--gray-40, #299a9a);
}
