.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 2px solid var(--gray-40, #959595);
  border-radius: 50%;
  background: #d9d9d9;
}

.checked {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #299a9a;
}
