.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friend-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 129px;
  border-radius: 12px;
  background: var(--gray-10, #eef0f1);
}

.input {
  margin-top: 28px;
  margin-bottom: 17px;
}

.info-icon {
 margin-right: 4px;   
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--gray-30, #aeaeae);
}
