:root {
  --gray-5: #fdfdfd;
  --gray-7: #f2f4f5;
  --gray-10: #eef0f1;
  --gray-15: #e1e1e1;
  --gray-20: #c8c8c8;
  --gray-30: #aeaeae;
  --gray-40: #959595;
  --gray-50: #626262;
  --gray-70: #484848;
  --gray-75: #3b3b3b;
  --gray-80: #2f2f2f;
  --gray-90: #222;
}
