.wrap {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--gray-80, #303636);
}

.submit-button {
  width: 30px;
  position: absolute;
  right: 20px;
}

.submit-button-text {
  color: var(--gray-50, #798787);
}

.content {
}

.content > .section {
  margin-bottom: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0px 22px;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--gray-80, #303636);
  margin-bottom: 12px;
}

.tag-info {
  margin-left: 6px;
}

.section-content {
}

.new-emoji-modal {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
