.wrap {
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image {
  margin: auto;
}

.title {
  margin-bottom: 16px;
}

.indicator {
  margin: 22px auto 44px auto;
}
