.wrap {
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
}

.indicator {
  margin: 52px auto 56px auto;
}
