.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  background: var(--gray-15, #e1e1e1);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tags {
  
}
