.wrap {
  display: flex;
  flex-direction: column;
  width: 312px;
  min-height: 214px;
  padding-top: 48px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 16px;
}

.title {
  color: var(--gray-70, #484848);
  text-align: center;
}

.content {
  color: var(--gray-30, #aeb7b7);
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.highlight {
  color: #d14b4b;
}

.image {
  margin: auto;
  margin-bottom: 26px;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.bottom-button {
  width: 138px;
  max-height: 52px;
}
