.wrap {
  position: relative;
  width: 312px;
  height: 479px;
  border-radius: 12px;
  padding-top: 54px;
  padding-left: 16px;
  padding-right: 16px;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
}
