.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: white;
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.submit-button {
  width: 30px;
  position: absolute;
  right: 20px;
}

.submit-button-text {
  color: var(--gray-50, #798787);
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 90px;
}

.bottom {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 23px;
}
