.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--gray-80, #303636);
}

.submit-button {
  position: absolute;
  width: 30px;
  right: 20px;
}

.submit-button-text {
  color: var(--gray-50, #798787);
}

.content {

}

.description {
  padding: 0px 22px;
  margin-top: 6px;
  margin-bottom: 32px;
}

.highlight {
  color: #299A9A;
}

.content > .section {
  margin-bottom: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 0px 22px;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--gray-80, #303636);
  margin-bottom: 20px;
}

.icon {
  margin-right: 4px;
}

.section-content {
}