.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.topbar {
}

.header {
  padding-left: 32px;
  padding-right: 32px;
}

.indicator {
  margin-top: 24px;
}

.title {
  margin: 3px 0px 10px 0px;
  color: var(--gray-80, #2f2f2f);
}

.subtitle {
  color: var(--gray-40, #959595);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 33px;
  padding-left: 32px;
  padding-right: 32px;
}

.bottom {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 23px;
}
