.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.header {
}

.title {
  margin: 3px 0px 0px 10px;
}

.subtitle {
  
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
