.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 20px;
  margin-bottom: 16px;
}

.subtitle {
  color: var(--gray-40, #959595);
  text-align: center;
}

.button {
  width: 92px;
  height: 36px;
  border-radius: 39px;
  border: 1.6px solid var(--gray-30, #aeaeae);
  background: #fff;
  color: var(--gray-50, #626262);
}
