.wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
}

.back_button {
  position: absolute;
  top: 12px;
  left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.title {
}
