.wrap {
  width: 100%;
  height: 3.75rem;
  border-radius: 10px;
  border-radius: 0.625rem;
  background: #135b5b;
}

.wrap:hover {
  background: #0c3131;
}

.content {
  color: var(--gray-0, #fff);
}

.disabled {
  color: var(--gray-30, #aeb7b7);
  border-radius: 10px;
  background: var(--gray-15, #e4e7e7);
}

.warn {
  color: var(--gray-10, #f2f3f3);
  border-radius: 10px;
  background: #d14b4b;
}
