.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.content {
  padding-top: 61px;
}

.item {
  padding: 0px 28px;
}

.bottom {
  margin-top: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 23px;
}
