.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.content {
  position: relative;
  height: 664px;
  padding-top: 80px;
}

.title {
  margin-bottom: 20px;
}

.signin-bg {
  position: absolute;
  right: 0;
  bottom: 73px;
}

.other-account {
  color: var(--gray-40, #959595);
  margin: 0 auto 16px auto;
  cursor: pointer;
}

.bottom {
  padding-left: 20px;
  padding-right: 20px;
}

.guest-button {
  margin-bottom: 23px;
}
