.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.content {
  position: relative;
  height: 634px;
  padding-top: 60px;
}

.content-header {
  padding-left: 33px;
}

.title {
  margin-bottom: 20px;
}

.signin-bg-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 113px;
}

.signin-bg {
}

.other-account {
  color: var(--gray-40, #959595);
  margin: 0 auto 16px auto;
  cursor: pointer;
}

.kakao-button {
  margin-bottom: 12px;
}

.guest-button {
}

.bottom {
  margin-top: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 23px;
}
