.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.topbar {
}

.topbar-right {
  color: var(--gray-30, #aeb7b7);
}

.header {
  padding-left: 32px;
  padding-right: 32px;
}

.highlight {
  color: #299a9a;
}

.indicator {
  margin-top: 6px;
  color: var(--gray-40, #949f9f);
}

.title {
  margin: 3px 0px 10px 0px;
  color: var(--gray-80, #2f2f2f);
}

.subtitle {
  color: var(--gray-40, #959595);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 14px;
  padding-left: 32px;
  padding-right: 32px;
}

.add-button {
  height: 52px;
  background: #303636;
  margin-top: 16px;
}

.bottom {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 23px;
}
