.wrap {
  width: 335px;
  border-radius: 12px;
  background: var(--gray-7, #f3f5f5);
  padding: 22px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 13px;
}

.icon {
  margin-right: 7px;
}

.title {
  color: var(--gray-80, #2f2f2f);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 18px */
}

.content {
  padding: 0px 13px;
}

.list {
  list-style-type: disc;
}

.item {
  color: var(--gray-50, #798787);
}
