.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  border-radius: 10px;
  border: 2px solid #e1e1e1;
  background: #fff;
  cursor: pointer;
}

.checked {
  border: 2px solid #6ab9b9;
}

.label {
  display: flex;
  flex: 1;
  padding-left: 12px;
}
