.wrap {
  position: relative;
  color: var(--gray-5, #fdfdfd);
  padding-top: 16px;
  padding-left: 22px;
  padding-right: 22px;
  height: 3.4375rem;
}

.tooltip {
  width: 212px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
