.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrap > .item,
.active-item {
  margin: 0px 8px 0px 0px;
}

.item {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: var(--gray-20, #c8c8c8);
}

.active-item {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: var(--gray-50, #626262);
}
